body.home {
background-image: url(https://res.cloudinary.com/cloudpandora/image/upload/v1616260517/Photos%20Pros/Background-simple_xroeme.jpg);
}

body.activities {
background-image: url(https://res.cloudinary.com/cloudpandora/image/upload/v1616260517/Photos%20Pros/Background-simple_xroeme.jpg);
}

body.health {
background-image: url(https://res.cloudinary.com/cloudpandora/image/upload/v1616260517/Photos%20Pros/Background-simple_xroeme.jpg);
}




body{
    margin: 0;
    padding: 0;
    color: black;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
  }
