<div class="search__container2">
    <p class="searchtext">
      Je trouve mon praticien
    </p>

     <%= form_tag cabinets_path, method: :get, class: "search2" do %>
        <%= text_field_tag :query_activity,
            params[:query_activity],
            class: "searchTerm",
            placeholder: "Pratique" %>
          <%= text_field_tag :query_localisation,
            params[:query_localisation],
            class: "searchTerm2",
            placeholder: "Localisation" %>
          <%= button_tag :submit, :class => 'searchButton' do %>
         <i class="fa fa-search" ></i>
         <% end %>
      <% end %>
</div>
