<div class="search__container">
    <p class="search__title">
        Je trouve mon practicien
    </p>
    <div class="searchbar">
        <input class="search__input" type="text" placeholder="Practicien">
        <input class="search__input" type="text" placeholder="Localisation">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
</div>

<div class="credits__container">
    <p class="credits__text">Une nouvelle approche de la médecine</p>
    <p class="credits__secte">On aime les médecins un peu chelou (oui nous sommes une secte)</p>
</div>
</div>