<div class="search__container3">
  <div class="search_top">
    <p class="searchtext3">
      Je trouve mon practicien
    </p>
  </div>
  <div class="search-form">
     <%= form_tag cabinets_path, method: :get, class: "search3" do %>
        <%= text_field_tag :query_activity,
            params[:query_activity],
            class: "searchTermhealth",
            placeholder: "Pratique" %>
          <%= text_field_tag :query_localisation,
            params[:query_localisation],
            class: "searchTerm2health",
            placeholder: "Localisation" %>
          <%= button_tag :submit, :class => 'searchButton' do %>
         <i class="fa fa-search" ></i>
         <% end %>
      <% end %>
  </div>
</div>
