<div class="search__container2">
  <p>Je trouve mon practicien </p>
   <div class="search2">

      <input type="text" class="searchTerm" placeholder="Medecine">
      <input type="text" class="searchTerm2" placeholder="Localisation">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
