
<div class="home">

<div class="container-home">
<div class="home-banner">
  <h1>Une autre vision de la médecine avec Parallel</h1>
  <div class="search-bar-home">
    <%= render 'shared/searchbar' %>
</div>
 <div class="boutons-home">
  <h3> Des doutes? Des questions ? <br> Découvrez de nouvelles pratiques en toute confiance</h3>
  <a href="/activities" class="btn-home btn-2">DECOUVRIR</a>
</div>

</div>
 </div>
</div>
