<div class="credits__container">
    <p class="credits__text">Une nouvelle approche de la médecine</p>
    <p class="credits__secte">On aime les médecins un peu chelou (oui nous sommes une secte)</p>
</div>