
<div class="container-home">
<div class="home-banner">
  <h1>Avec Parallel, une autre vision de la médecine</h1>
  <p> Avec Parallel, une autre vision de la médecineAvec Parallel, une autre vision de la médecine </p>
  <div class="search-bar-home">
    <h2> Je trouve mon practicien </h2>
  <% link_to 'searchbar', '#' %>

</div>
 <div class="boutons-home">
  <a class="btn btn-2">ENERGIES</a>
  <a class="btn btn-3">CORPS ESPRIT</a>
    <h2> Découvrez de nouvelles pratiques en toute confiance avec Parallel</h2>

</div>
 </div>
</div>
