
<body class="home">

<div class="container-home">
<div class="home-banner">
  <h1>Avec Parallel, une autre vision de la médecine</h1>
  <p> Avec Parallel, une autre vision de la médecineAvec Parallel, une autre vision de la médecine </p>
  <div class="search-bar-home">
    <h2> Je trouve mon practicien </h2>
<%= render 'shared/searchbar' %>
  <h3> Découvrez de nouvelles pratiques en toute confiance avec Parallel</h3>

</div>
 <div class="boutons-home">

  <a href="/categories/1/activities" class="btn-home btn-2">DECOUVRIR</a>
</div>

</div>
 </div>
</body>
