<div class="container-profil">
  <%= render 'shared/searchbaractivities' %>
  <div class="show-banner-profil">
    <h1>Profil</h1>
    <hr />
    <br>
    <div class="show-card-profil-1">
      <h2>Historique des rendez-vous</h2>
      <p>Adresse - téléphone - Email</p>
    </div>
    <br>
    <div class="show-card-profil-2">
      <h2>Informations</h2>
      <p>Adresse - téléphone - Email</p>
    </div> 
    <%= link_to 'Back', activities_path %>
  </div>
</div>