.container-home {
  height: 90vh;
  display: flex;
  margin-left: 96px;
  margin-right: 96px;
   h1 {
  color: white;
  text-align: center;
  margin-top: 60px;
   }
  p {
  color: white;
  text-align: center;
  margin-top: 30px;
   }

   h2 {
    color: white;
    margin-left: 50px;
    margin-top: 60px;
    text-align: center;
   }

    h3 {
    color: white;
    text-align: center;
   }
  }

  .boutons-home {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    h3 {
      padding-right: 200px;
      padding-left: 200px;
      padding-top: 50px;
    }
  }

.show-banner-activities {
  color: black;
  padding-left: 70px;
  p {
    padding-left: 30px;
    padding-right: 600px;
  }
  hr {
    border-width: thin;
    border-color: black;
    margin-right: 70px;
  }
}
