.boutons-home {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  font-size: 30px;
  color: white;
      padding-top: 60px;
}


.btn-home {
  height: 200px;
  min-width: 200px;
  margin: 10px;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  /*background-size: 200% auto;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 }




 .boutons-activies {
   width: 80vw;
  margin: 0 auto;
  display: flex;
  font-size: 30px;
  color: white;
  position: relative;
  transition: 1s ease-in-out;
 }

 .btn-activities {
  height: 200px;
  min-width: 200px;
  margin: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  transition: 1s ease-in-out;
  opacity: 80%;
  background-size: 200% auto;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  &.btn-1 {
    right: 150px;
    bottom: 100px;
  }
    &.btn-2 {
    right: 200px;
    bottom:200px;

  }
    &.btn-3 {
    right: 350px;
    bottom: 150px;
  }
    &.btn-5 {
    right: 250px;
    bottom: 10px;
  }
     &.btn-4 {
    right: 350px;
    bottom: 30px;
  }

 }



 .btn-activities:hover {
  color: white;
  text-decoration: none;
  background-position: right center;
  z-index: 10; /* change the direction of the change here */
  transition: 1s ease-in-out;
  opacity: 100%;
}



/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn-home:hover {
  color: white;
  text-decoration: none;
  background-position: right center;/* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}

/* Magic Stuff End -> */

.calendarbutton {
  width: 100%;
}

.calendarbutton2 {
  width: 100%;
  pointer-events: none;
  background-color: #A46658;
  border-radius: 0px;
  border: 0px;
}

.bookedbutton {
  background-color: red;
}
