.calendcontainer {
    width: 70%; /* On a indiqué une largeur (obligatoire) */ /* On peut donc demander à ce que le bloc soit centré avec auto */
    text-align: justify;
    padding-left: 50px;
}

.calendar-display {

}
