.big-praticien-container {
  display: flex;
  justify-content: center;
}

.praticiens-container {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  margin-top: 50px;
}

.praticien-card {
  background: orange;
  height: 175px;
  width: 400px;
  display: flex;
}

.p-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
