.praticiens-container {
  display: flex;
  justify-content: center;
}
.praticien-card {
  overflow: hidden;
  height: 175px;
  width: 350px;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
  border-radius: 5px;
}

.praticien-infos {
  padding-left: 20px;
}

.praticien-infos h2 {
  font-size: 25px;
}


.avatar-bordered {
  width: 100px;
  height: 100px;
}
