.info-activities h2 {
    display: flex;
    margin-left: 50px;
    margin-top: 88px;
    margin-right: 353px;
    font-size: 30px;
     font-family: roboto;
}

.info-activities h3 {
  margin-left: 50px;
  font-size: 30px;
   font-family: roboto;
}

.info-activities {
  padding-top: 40px;
  font-family: roboto;
}

  .boutons-home {
    h3 {
      padding-right: 200px;

      padding-top: 80px;
    }
  }
