.info-activities {
  padding-left: 100px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.info-activities-2 {
  padding-left: 170px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.boutons-home {
  h3 {
  padding-right: 200px;
  padding-top: 80px;
    }
  }
