
.footer {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: lightgrey;
  bottom: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 80%;

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: lightgrey;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
