.mapboxgl-popup-tip {
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: black;
  border-radius: 50%;
  border-color: black;
}


.divpopup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  h4 {
    margin-top: 7px;
    margin-left: 10px;
  }
  p {
    margin-top: 15px;
  }
}

.map-popup {
  max-width: 200px;
  border-radius: 10px;
  opacity: 1;
  transition: 2s opacity ease-in-out;
  .mapboxgl-popup-content {
    background-color: #D2BAC7;
    opacity: 0;
    animation: 1s opacite 0s linear forwards;
  .mapboxgl-popup-tip {
    background-color: #D2BAC7;
  }
  .mapboxgl-popup-close-button {
  }
  }
}

.popuptext {
  p {
    margin: 0px;
    padding: 0px;
  }
}


.map-index {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
