.mapboxgl-popup-tip {
}

.mapboxgl-popup {
  max-width: 200px;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: black;
  border-radius: 50%;
  border-color: black;
}

