.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  width: 100%; height: 50px;
  top: 0; left: 0; right: 0;
   img {
    width: 200px;
   }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .nav-item {
  display: flex;
  flex-direction: row;
}

.nav-parallel {
  color: rgba(0, 0, 0, 0.5);
  font-size: 35px;
  padding-left: 10px;
}

.nav-parallel:hover {
  text-decoration: none;
  color: black;
}

