
// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */


.search1 {
  width: 100%;
  position: relative;
  display: flex;
}

.search2 {
  width: 100%;
  position: relative;
  display: flex;
}

.search3 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.searchtext3 {
 margin-left: 220px;

}

.search__container {

}

.search__container2 {
  padding: 30px;
}

.search__container3 {
  padding: 30px;
}

.searchTerm {
  width: 300px;
  border: 3px solid white;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #2D4654;
}

.searchTerm2 {
  width: 300px;
  border: 3px solid white;
  border-right: none;
  padding: 15px;
  height: 20px;
  outline: none;
  color: #2D4654;
}

.searchTermhealth {
  width: 420px;
  border: 3px solid white;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #2D4654;
}

.searchTerm2health {
  width: 420px;
  border: 3px solid white;
  border-right: none;
  padding: 15px;
  height: 20px;

  outline: none;
  color: #2D4654;
}


.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid white;
  background: white;
  opacity: 60%;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
