<div class="activities">

  <%= render 'shared/searchbar' %>

  <h1> Ce que proposent nos professionnels de santé:</h1>

  <div class="container-activities">


<div class="info-activities">
<h2> Quelques petits mots explicatifs sur la démarche somme <br> toute très intéressante concernant toutes les <br> médecines parallèles que nous présentons </h2>
</div>

<div class=boutons-activities>
<a href="/categories/1/activities/4" class="btn-activities btn-1">HYPNOSE</a>
<a href="/" class="btn-activities btn-2">RADIESTHESIE</a>
<a href="/" class="btn-activities btn-3">NATUROPATHIE</a>
<a href="/" class="btn-activities btn-4">MAGNETISME</a>
<a href="/" class="btn-activities btn-5">SOPHROLOGIE</a>
</div>
</div>
</div>



