<div class="container-show-activities">
  <%= render 'shared/searchbaractivities' %>
  <div class="show-banner-activities">
    <h1><%= @activity.name %></h1>
    <p>« un état de conscience modifié »...<p>
    <hr />
    <div class="show-text-activities">
      <p><%= @activity.description %></p>
    </div>
    <%= link_to 'Back', activities_path %>
  </div>

</div>
