<div class="divpopup">
  <div class="p-avatar2">
    <%= cl_image_tag cabinet.photo.key %>
  </div>
  <h4 style="color: black;"><%= cabinet.name %></h4>
</div>
<div class="popuptext">
  <p style="color: black;"><%= cabinet.description %></p>
  <p style="color: black;"><%= cabinet.adresse_cabinet %></p>
</div>
